<nav class="navbar navbar-default sticky-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="font-weight: bolder;"><img src="/img/mtnicon.png" alt="icon"
                    style="height: 10%; width:10%">Adventureops</a>
            <a class="navbar-brand" href="/logout">Logout</a>
            <a class="navbar-brand" href="/user">Your Posts</a>
            <a class="navbar-brand" href="/home">Home</a>


        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Welcome {{username}}</h2>
        </div>
    </div>
</div>





<h1 style="text-align: center;">TESTTTTTTT</h1>
<br>
<div class="container" id='feed'>



    <div class="row">

        <div class="col-md-7">
            <div class="form-group">
                <label for="category" style="font-weight: bold;">Select Category:</label>
                <select class="custom-select" id="category">

                    <option selected value="All">All Types</option>

                    {{#each types}}
                    <option value="{{type}}">{{type}}</option>
                    {{/each}}
                </select>

                <label for="location" style="font-weight: bold;">Select Location:</label>
                <select class="custom-select" id="location">
                    <option value=""></option>
                    {{#if type}}
                    {{#each locations}}
                    <option value="{{location}}">{{location}}</option>
                    {{/each}}
                    {{/if}}
                </select>
                <div class="col-md-12 post-container">
                    {{#if cont}}
                    {{#each posts}}
                    <div class="card" data-post="{{id}}">
                        <div class="card-header">
                            <h5 style="float: right; font-weight: 700; margin-inline-end: 10px;">{{type}}</h5>
                            <h5 style="font-weight: 700;">{{user}}</h5>
                            <small> ({{date}})</small>
                            <small style="float: right"> ({{location}})</small>

                        </div>
                        <div class="card-body">
                            <p style="color: black;">{{content}}</p>
                        </div>
                    </div>



                    {{/each}}
                    {{/if}}

                    {{#unless cont}}
                    <h4>No posts yet for this category. <br>Use the form below to make a new post.
                    </h4>

                    {{/unless}}
                </div>
            </div>
        </div>







        <div class="col-md-5">
            <form id="cms">
                <div class="form-group ">
                    <h4>New activity</h4>
                    <label for="body">Content:</label>
                    <textarea class="form-control" rows="10" id="body"></textarea>
                    <div class="form-group" style="max-width: fit-content;">
                        <label for="category" style="font-weight: bold;">Select Category:</label>
                        <select class="custom-select" id="createCategory">

                            {{#each types}}
                            <option value="{{type}}">{{type}}</option>
                            {{/each}}
                        </select>

                        <br>
                        <label for="location" style="font-weight: bold;">Select Location:</label>
                        <select class="custom-select" id="createLocation">
                            <option value="">Location</option>
                        </select>
                    </div>

                    <button type="submit" class="btn submit btn-lg" style="background-color: #2d8db2;">Submit</button>
                </div>
            </form>
        </div>




        {{!-- Create --}}

    </div>
</div>


<!-- Custom Script -->
<script src="j-s/posts.js" type="text/javascript"></script>
<script src="j-s/create-post.js" type="text/javascript"></script>

<!-- Custom Script -->


{{#if type}}
{{#if loc}}
<script src="../../j-s/posts.js" type="text/javascript"></script>
<script src="../../j-s/create-post.js" type="text/javascript"></script>
{{/if}}
{{#unless loc}}
<script src="../j-s/posts.js" type="text/javascript"></script>
<script src="../j-s/create-post.js" type="text/javascript"></script>
{{/unless}}
{{/if}}

{{#unless type}}
<script src="j-s/posts.js" type="text/javascript"></script>
<script src="j-s/create-post.js" type="text/javascript"></script>

{{/unless}}