<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
            <a class="navbar-brand" href="/user-posts">
                Make Post
            </a>
            <a class="navbar-brand" href="/view-posts">
                View Posts
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Welcome {{username}}</h2>
        </div>
    </div>
</div>


<h1 style="text-align: center;">TESTTTTTTT</h1>
<br>
<div class="container" id='feed'>



    <div class="row">
        <div class="col-md-7">
            <div class="form-group">

                <select class="custom-select" id="category">
                    <option selected value="All Types">All Types</option>
                    <option value="Hiking">Hiking</option>
                    {{!-- {{#each}} --}}
                    {{!-- <option value="{{type}}">{{type}}</option> --}}
                    {{!-- {{/each}} --}}
                </select>
                <label for="location">Select Location:</label>
                <select class="custom-select" id="location">
                    {{!-- {{#each}}
                    <option value="{{location}}">{{location}}</option>
                    {{/each}} --}}
                </select>
                <div class="col-md-12 post-container">
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <form id="cms">
                <div class="form-group ">
                    <h4>New activity</h4>
                    <label for="body">Content:</label>
                    <textarea class="form-control" rows="10" id="body"></textarea>
                    <div class="form-group" style="max-width: fit-content;">
                        <label for="category">Select Type:</label>
                        <select class="custom-select" id="createCategory">
                            <option value="Hiking">Hiking</option>
                            {{!-- {{#each}}
                            <option value="{{type}}">{{type}}</option>
                            {{/each}} --}}
                        </select>

                        <br>
                        <label for="location">Select Location:</label>
                        <select class="custom-select" id="createLocation">
                            <option value="">Selcet a location</option>
                            <option value="greece">Kalymnos</option>
                            {{!-- {{#each}}
                            <option value="{{location}}">{{location}}</option>
                            {{/each}} --}}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success submit btn-lg">Submit</button>
                </div>
            </form>
        </div>




        {{!-- Create --}}

    </div>
</div>


<!-- Custom Script -->
<script src="js/posts.js" type="text/javascript"></script>
<script src="js/create-post.js" type="text/javascript"></script>